<ul>
  <li>
    <a href='mailto:contact@arkaitzvizuete.com?subject=Contact from arkaitzvizuete.com'>
      Send me an email
    </a>

  </li>

  <li>
    <fa-icon [icon]="faGithub" class="github"></fa-icon>
    <a target='_blank' href='https://github.com/arkaitzvizuete'>
      Check out my GitHub
    </a>
  </li>

  <li>
    <fa-icon [icon]="faLinkedin" class="linkedin"></fa-icon>
    <a target='_blank' href='https://www.linkedin.com/in/arkaitzvizuete/'>
      Connect with me on LinkedIn
    </a>
  </li>
</ul>
