.container {
  display: grid;

  grid-template-columns: 40% 60%;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header nav"
    ". content"
    "footer footer";

    height: 100%;
    width: 100%;
}


header {
  grid-area: header;

  text-align: center;
}

.name {
  font-size: 4.5rem;
  font-weight: 300;
}

.surname {
  font-size: 4.5rem;
  font-weight: 100;
}


nav {
  grid-area: nav;

  margin: 1rem auto auto auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;

  padding: 0 1rem 0 1rem;

  cursor: pointer;
}


.content {
  grid-area: content;

  background-color: aquamarine;
}


app-footer {
  grid-area: footer;
}



