.container {
  display: grid;

  grid-template-columns: 40% 60%;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header nav"
    ". content"
    "footer footer";

    height: 100%;
    width: 100%;
}


app-0header {
  grid-area: header;
}


app-navbar {
  grid-area: nav;
}


.content {
  grid-area: content;

  background-color: aquamarine;
}


app-footer {
  grid-area: footer;
}



